.deployer-update-locked-modules .module .form-item {
  float: left;
  margin-left: 10px;
  font-size: 10px;
}

.deployer-update-locked-modules .module .form-item input[type=text] {
  font-size: 10px;
}