@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("application/font-woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Layout fixes */
/* line 2, ../sass/components/_layouts.sass */
.node-deploy .group-left fieldset {
  margin-right: 10px;
}

/* line 5, ../sass/components/_layouts.sass */
.field-name-field-deployer-deploy-info {
  margin-bottom: 20px;
}

/* line 8, ../sass/components/_layouts.sass */
.field-name-field-health-info .health {
  margin-right: 5px;
}

/* line 11, ../sass/components/_layouts.sass */
.node-deploy-form .item-list {
  margin-bottom: 5px;
}

/* line 16, ../sass/components/_layouts.sass */
.view-mode-full > [class^='group-'] {
  margin-bottom: 30px;
}
/* line 18, ../sass/components/_layouts.sass */
.view-mode-full > [class^='group-']:last-child {
  margin-bottom: auto;
}

/* Word-wrap messages */
/* line 22, ../sass/components/_layouts.sass */
.messages {
  word-wrap: break-word;
}

/* Context block */
/* line 26, ../sass/components/_layouts.sass */
.deployer-context {
  background-color: #e9f3f9;
  padding: 10px;
  position: relative;
}
/* line 30, ../sass/components/_layouts.sass */
.deployer-context > .item-list {
  display: inline-block;
}
/* line 32, ../sass/components/_layouts.sass */
.deployer-context > .item-list ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
/* line 36, ../sass/components/_layouts.sass */
.deployer-context > .item-list ul li {
  margin-left: 0;
}
/* line 38, ../sass/components/_layouts.sass */
.deployer-context > .item-list ul li .label {
  float: left;
  font-weight: bold;
  margin-right: 5px;
}
/* line 42, ../sass/components/_layouts.sass */
.deployer-context > .item-list ul li .flag-wrapper {
  position: absolute;
  top: 10px;
  right: 0px;
  font-weight: bold;
}
/* line 47, ../sass/components/_layouts.sass */
.deployer-context > .item-list ul li .flag-wrapper a {
  background-color: #D4EBF9;
  padding: 5px;
}
/* line 50, ../sass/components/_layouts.sass */
.deployer-context .flag-wrapper {
  float: right;
}

/* Deploy / backup links */
/* line 55, ../sass/components/_layouts.sass */
.field-name-field-deployer-show-backup-link, .field-name-field-deployer-show-deploy-link {
  font-weight: bold;
  text-align: center;
}

/* line 59, ../sass/components/_layouts.sass */
.field-name-field-deployer-show-backup-link a {
  display: block;
  width: 100px;
  background-color: #defacb;
  margin-bottom: 5px;
}

/* line 65, ../sass/components/_layouts.sass */
.field-name-field-deployer-show-deploy-link a {
  display: block;
  width: 100px;
  background-color: #fdd5a8;
  margin-bottom: 5px;
}

/* line 2, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .block-refresh-button {
  display: none;
}
/* line 8, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content > .item-list > ul > li {
  border-bottom: 1px solid #d8d8d8;
}
/* line 10, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content > .item-list > ul > li:last-child {
  border-bottom: none;
}
/* line 14, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul {
  padding-left: 5px;
}
/* line 16, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li {
  list-style: none;
  margin-left: 4px;
  padding-left: 5px;
}
/* line 20, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .label {
  font-size: 20px;
}
/* line 22, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .views-field-ops {
  float: left;
}
/* line 26, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li.client > .label {
  display: none;
}
/* line 28, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .project .label {
  font-size: 0;
  color: #494949;
  float: left;
}
/* line 32, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .project .label:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 4px;
  content: "";
  font-size: 20px;
}
/* line 36, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .environment .label {
  font-size: 0;
  color: #494949;
  float: left;
}
/* line 40, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .environment .label:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 4px;
  content: "";
  font-size: 20px;
}
/* line 45, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .unflag-action {
  font-size: 0;
}
/* line 47, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .unflag-action:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 4px;
  font-size: 13px;
}
/* line 51, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .unflag-action:hover:after {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 4px;
}
/* line 54, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .flag-message {
  background: #e4e4e4;
  border: 1px solid #666;
  color: black;
  padding: 5px;
  width: 96px;
  left: -12px;
  top: 20px;
  z-index: 99;
}
/* line 63, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .flag-message:after, #block-deployer-flightcontrol-bookmarks .content .item-list ul li .flag-message:before {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 74, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .flag-message:after {
  border-color: rgba(241, 241, 241, 0);
  border-bottom-color: #e4e4e4;
  border-width: 5px;
  margin-left: -5px;
}
/* line 79, ../sass/components/_flags.sass */
#block-deployer-flightcontrol-bookmarks .content .item-list ul li .flag-message:before {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #666;
  border-width: 6px;
  margin-left: -6px;
}

/*Health info */
/* line 3, ../sass/components/_status.sass */
.field-name-field-health-info .health span {
  display: none;
}
/* line 6, ../sass/components/_status.sass */
.field-name-field-health-info .health-alive:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 4px;
  content: "";
  font-size: 16px;
  color: #1abc9c;
}
/* line 10, ../sass/components/_status.sass */
.field-name-field-health-info .health-alive.warning:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 4px;
  content: "";
  font-size: 16px;
  color: #FF8000;
}
/* line 14, ../sass/components/_status.sass */
.field-name-field-health-info .health-alive.critical:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 4px;
  content: "";
  font-size: 16px;
  color: #DF0101;
}
/* line 19, ../sass/components/_status.sass */
.field-name-field-health-info .updates:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 4px;
  content: "";
  font-size: 16px;
}
/* line 22, ../sass/components/_status.sass */
.field-name-field-health-info .updates.ok:before {
  color: #1abc9c;
}
/* line 24, ../sass/components/_status.sass */
.field-name-field-health-info .updates.dunno:before {
  color: #6E6E6E;
}
/* line 26, ../sass/components/_status.sass */
.field-name-field-health-info .updates.regular:before {
  color: #B18904;
}
/* line 28, ../sass/components/_status.sass */
.field-name-field-health-info .updates.security:before {
  color: #DF0101;
}

/*Deploy status */
/* line 33, ../sass/components/_status.sass */
.field-name-field-deploystatus span {
  font-size: 0;
  margin-left: 10px;
}
/* line 36, ../sass/components/_status.sass */
.field-name-field-deploystatus .initiating:before, .field-name-field-deploystatus .running:before {
  content: url("../../images/throbber.gif");
}
/* line 38, ../sass/components/_status.sass */
.field-name-field-deploystatus .failed:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 4px;
  content: "";
  font-size: 16px;
  color: #DF0101;
}
/* line 42, ../sass/components/_status.sass */
.field-name-field-deploystatus .finished:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 4px;
  content: "";
  font-size: 16px;
  color: #1abc9c;
}
/* line 46, ../sass/components/_status.sass */
.field-name-field-deploystatus .notstarted:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  margin: 4px;
  content: "";
  font-size: 16px;
}
