#block-deployer-flightcontrol-bookmarks
  .block-refresh-button
    display: none
  .content
    // First level styling.
    > .item-list
      > ul
        > li
          border-bottom: 1px solid #d8d8d8
          &:last-child
            border-bottom: none
    // All level styling.
    .item-list
      ul
        padding-left: 5px
        li
          list-style: none
          margin-left: 4px
          padding-left: 5px
          .label
            font-size: 20px
          .views-field-ops
            float: left
          //.views-field-title-1
          //  margin-left: 16px
          &.client > .label
            display: none
          .project .label
            font-size: 0
            color: #494949
            float: left
            &:after
              +icomoon('project')
              font-size: 20px
              //margin: 0 4px
          .environment .label
            font-size: 0
            color: #494949
            float: left
            &:after
              +icomoon('server')
              font-size: 20px
              //margin: 0 4px

          .unflag-action
            font-size: 0
            &:after
              +icomoon('star-full')
              font-size: 13px
            &:hover
              &:after
                +icomoon('star-empty')

          .flag-message
            background: #e4e4e4
            border: 1px solid #666
            color: black
            padding: 5px
            width: 96px
            left: -12px
            top: 20px
            z-index: 99
            &:after,
            &:before
              bottom: 100%
              left: 20px
              border: solid transparent
              content: " "
              height: 0
              width: 0
              position: absolute
              pointer-events: none

            &:after
              border-color: rgba(241, 241, 241, 0)
              border-bottom-color: #e4e4e4
              border-width: 5px
              margin-left: -5px
            &:before
              border-color: rgba(221, 221, 221, 0)
              border-bottom-color: #666
              border-width: 6px
              margin-left: -6px
