/* Layout fixes
.node-deploy .group-left fieldset
  margin-right: 10px

.field-name-field-deployer-deploy-info
  margin-bottom: 20px

.field-name-field-health-info .health
  margin-right: 5px

.node-deploy-form .item-list
  margin-bottom: 5px


.view-mode-full
  >[class^='group-']
    margin-bottom: 30px
    &:last-child
      margin-bottom: auto

/* Word-wrap messages
.messages
  word-wrap: break-word

/* Context block
.deployer-context
  background-color: rgb(233, 243, 249)
  padding: 10px
  position: relative
  > .item-list
    display: inline-block
    ul
      margin-left: 0
      padding-left: 0
      list-style: none
      li
        margin-left: 0
        .label
          float: left
          font-weight: bold
          margin-right: 5px
        .flag-wrapper
          position: absolute
          top: 10px
          right: 0px
          font-weight: bold
          a
            background-color: #D4EBF9
            padding: 5px
  .flag-wrapper
    float: right


/* Deploy / backup links
.field-name-field-deployer-show-backup-link, .field-name-field-deployer-show-deploy-link
  font-weight: bold
  text-align: center

.field-name-field-deployer-show-backup-link a
  display: block
  width: 100px
  background-color: rgb(222, 250, 203)
  margin-bottom: 5px

.field-name-field-deployer-show-deploy-link a
  display: block
  width: 100px
  background-color: rgb(253, 213, 168)
  margin-bottom: 5px
