/*Health info
.field-name-field-health-info
  .health span
    display: none
  .health-alive
    &:before
      +icomoon('health-alive')
      font-size: 16px
      color: #1abc9c
    &.warning:before
      +icomoon('health-warning')
      font-size: 16px
      color: #FF8000
    &.critical:before
      +icomoon('health-critical')
      font-size: 16px
      color: #DF0101
  .updates
    &:before
      +icomoon('updates')
      font-size: 16px
    &.ok:before
      color: #1abc9c
    &.dunno:before
      color: #6E6E6E
    &.regular:before
      color: #B18904
    &.security:before
      color: #DF0101

/*Deploy status
.field-name-field-deploystatus
  span
    font-size: 0
    margin-left: 10px
  .initiating:before, .running:before
    content: url('../../images/throbber.gif')
  .failed:before
    +icomoon('deploy-failed')
    font-size: 16px
    color: #DF0101
  .finished:before
    +icomoon('deploy-ok')
    font-size: 16px
    color: #1abc9c
  .notstarted:before
    +icomoon('deploy-idle')
    font-size: 16px
