// Notice the font family names, the 3 Serif and the 3 Sans names are identical.
// How does the browser know which one to take? Change the font-weight, just like
// you would do with a real font. With the values set below you can also use
// The keyword 'normal' is synonymous with '400', and 'bold' is synonymous with '700'
// There is no keyword for the lightest version unfortunately
//
// Read more about it here:
// http://www.metaltoad.com/blog/how-use-font-face-avoid-faux-italic-and-bold-browser-styles

// Icomoon
@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon.eot')
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('application/font-woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg')
  font-weight: normal
  font-style: normal
