=icomoon($name)
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  vertical-align: middle
  -webkit-font-smoothing: antialiased
  margin: 4px

  @each $icon in $fonticons
    $itemname: nth($icon, 1)
    $char: nth($icon, 2)

    @if $name == $itemname
      content: $char
